<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.registertest2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.activities.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.activities.RegistrationSuccess"
            android:label="@string/title_activity_success" >
        </activity>
        <activity
            android:name="com.activities.Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.activities.ChildLogin"
            android:label="@string/title_activity_child_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.activities.ChildSuccess"
            android:label="@string/title_activity_child_success" >
        </activity>
        <activity
            android:name="com.activities.ChildloginSuccess"
            android:label="@string/title_activity_childlogin_success" >
        </activity>
    </application>

</manifest>